[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pre-commit = "*"
pytest = "*"
flake8 = "*"
mypy = "*"
pylint = "*"
click = "*"
pydantic = "*"
streamlit-option-menu = "*"
flask = "*"
google-cloud = "*"
google-cloud-datastore = "*"
openai = "*"
async-openai = "*"
python-dotenv = "*"
fuzzywuzzy = "*"
mail = "*"
waitress = "*"
flask-cors = "*"
gunicorn = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.16"
